* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}


@media (max-width: 570px) {
    .hero-title {
        font-size: 1.5em;
    }
    .navbar__list{
        display: none;
    }
}


:root {
  --main--bg: #28293e;
  --main--text: #fff;
  --main--subtitle: #ef6d58;
}

.universal__btn {
  background-color: var(--main--bg);
  color: var(--main--text);
  padding: 18px 34px;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  line-height: 14.35px;
  border: 1px solid #ffffff4b;
  cursor: pointer;
}

/* Navbar section styles */

.navbar {
  background-color: var(--main--bg);
  padding: 10px;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
  gap: 100px;
  list-style: none;
  color: var(--main--text);
}

a {
  color: inherit;
}

.navbar__list-item a {
  text-decoration: none;
}

.navbar__btn {
  background-color: var(--main--bg);
  color: var(--main--text);
  padding: 18px 34px;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  line-height: 14.35px;
  border: 1px solid #ffffff4b;
  transition: border-color all 0.7s ease-in-out;
}

.navbar__btn:hover {
  border: none;
  transition: all 1s ease-in-out;
  background: rgb(62, 172, 223);
  color: white;
}

/* Header section styles */

/* Hero section styles */

.hero__section {
  background-color: var(--main--bg);
  padding-top: 60px;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__img {
  margin-top: 80px;
  transition: all 0.7s ease-in-out;
  overflow: hidden;
}

.hero__img:hover {
  transform: scale(1.04);
  transition: all 1s ease-in-out;
  object-fit: cover;
}

.hero__info {
  position: relative;
}

.hero__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--main--subtitle);
}

.hero__title {
  margin-top: 20px;
  font-size: 72px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -2px;
  text-align: left;
  color: var(--main--text);
  position: relative;
  z-index: 6;
}

.hero__star {
  position: absolute;
  top: 25px;
  left: 280px;
  z-index: 5;
}

.hero__about {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffffa3;
  margin-top: 24px;
}

.hero__buttons {
  display: flex;
  gap: 30px;
  margin-top: 36px;
  align-items: center;
}

.hero__btn {
  background-color: #ef6d58;
  border: none;
  padding: 18px 22px;
}

.hero__link {
  text-decoration: none;
  color: var(--main--text);
}

.hero__comment {
  margin-top: 108px;
  display: flex;
  gap: 16px;
}

.hero__slogan {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #ffffffa3;
}

.hero__company__name {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--main--text);
}

/* Sponsors Section styles */

.sponsors__section {
  height: 230px;
  display: flex;
  align-items: center;
  background-color: #f3d1bf4d;
}

.sponsors__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 146px;
}

.sponsors__horizontal-line {
  color: #f3d1bf;
  margin-top: 72px;
}

/* experience section styles */

.experience__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 136px;
  padding-top: 100px;
  background-color: #f3d1bf4d;
}

.experience__initial__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  color: var(--main--subtitle);
  text-transform: uppercase;
}

.experience__title {
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  color: #391400;
}

.experience__subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #391400;
  margin-top: 26px;
}

.experience__about {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #391400a3;
  margin-top: 18px;
}

.experience__btn {
  margin-top: 34px;
  background-color: #fff;
  color: #391400;
  box-shadow: 0px 3px 9px 0px #39140014;
}

.statistics__cards {
  display: flex;
  justify-content: center;
  padding-top: 160px;
  background-color: #f3d1bf4d;
}

.statistics__card {
  border: 1px solid #f3d1bf;
  width: 391px;
  padding: 45px 156px 30px 48px;
  border-radius: 6px 0px 0px 6px;
}

.statistics__subtitle {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #391400;
}

.statistics__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #391400;
}
