@font-face {
  font-family: Epilogue;
  src: url(./fonts/Epilogue-Regular.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

:root {
  --hero--bg: #28293e;
  --main--text: #fff;
  --main--subtitle: #ef6d58;
  --important--text: #391400;
  --descryption--text: #391400a3;
  --main--bg: #f3d1bf4d;
}

.universal__btn {
  background-color: var(--hero--bg);
  color: var(--main--text);
  padding: 18px 34px;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  line-height: 14.35px;
  border: 1px solid #ffffff4b;
  cursor: pointer;
}

/* Navbar section styles */

.navbar {
  background-color: var(--hero--bg);
  padding: 10px;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
  gap: 100px;
  list-style: none;
  color: var(--main--text);
}

a {
  color: inherit;
}

.navbar__list-item a {
  text-decoration: none;
}

.navbar__btn {
  background-color: var(--hero--bg);
  color: var(--main--text);
  padding: 18px 34px;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  line-height: 14.35px;
  border: 1px solid #ffffff4b;
  transition: border-color all 0.7s ease-in-out;
}

.navbar__btn:hover {
  border: none;
  transition: all 1s ease-in-out;
  background: rgb(62, 172, 223);
  color: white;
}

.navbar__burger-btn {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  display: none;
}

.navbar__burger-btn span {
  width: 32px;
  height: 5px;
  background-color: var(--main--text);
  margin-top: 5px;
  display: block;
  border-radius: 6px;
}

/* Header section styles */

/* Hero section styles */

.hero__section {
  background-color: var(--hero--bg);
  padding-top: 60px;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__img {
  margin-top: 80px;
  transition: all 0.7s ease-in-out;
  overflow: hidden;
}

.hero__img:hover {
  transform: scale(1.04);
  transition: all 1s ease-in-out;
  object-fit: cover;
}

.hero__info {
  position: relative;
}

.hero__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--main--subtitle);
}

.hero__title {
  margin-top: 20px;
  font-size: 72px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -2px;
  text-align: left;
  color: var(--main--text);
  position: relative;
  z-index: 6;
}

.hero__star {
  position: absolute;
  top: 25px;
  left: 210px;
  z-index: 5;
}

.hero__about {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffffa3;
  margin-top: 24px;
}

.hero__buttons {
  display: flex;
  gap: 30px;
  margin-top: 36px;
  align-items: center;
}

.hero__btn {
  background-color: #ef6d58;
  border: none;
  padding: 18px 22px;
}

.hero__link {
  text-decoration: none;
  color: var(--main--text);
}

.hero__comment {
  margin-top: 108px;
  display: flex;
  gap: 16px;
}

.hero__slogan {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #ffffffa3;
}

.hero__company__name {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--main--text);
}

/* Sponsors Section styles */

.sponsors__section {
  height: 230px;
  display: flex;
  align-items: center;
  background-color: #f3d1bf4d;
}

.sponsors__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 146px;
  align-items: center;
  justify-content: center;
}

.sponsors__horizontal-line {
  border: 1px solid #f3d1bf;
  margin-top: 72px;
}

/* Experience section styles */

.experience__section {
  background-color: #f3d1bf4d;
}

.experience__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 136px;
  padding-top: 100px;
}

.experience__initial__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  color: var(--main--subtitle);
  text-transform: uppercase;
}

.experience__title {
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  color: #391400;
}

.experience__subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #391400;
  margin-top: 26px;
}

.experience__about {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #391400a3;
  margin-top: 18px;
}

.experience__btn {
  margin-top: 34px;
  background-color: #fff;
  color: #391400;
  box-shadow: 0px 3px 9px 0px #39140014;
}

/* Statistics section styles */

.statistics__section {
  background-color: #f3d1bf4d;
}

.statistics__cards {
  display: flex;
  justify-content: center;
  padding-top: 160px;
}

.statistics__card {
  border: 1px solid #f3d1bf;
  width: 391px;
  padding: 45px 156px 30px 48px;
  border-radius: 6px 0px 0px 6px;
}

.statistics__subtitle {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #391400;
}

.statistics__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #391400;
}

/* Work section styles */

.work__section {
  background-color: #f3d1bf4d;
  padding-top: 140px;
}

.work__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
}

.work__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  color: var(--main--subtitle);
}

.work__title {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: var(--important--text);
}

.work__info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 150px;
}

.work__about {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--descryption--text);
}

.work__info__link {
  display: block;
  margin-top: 28px;
  text-decoration: none;
  color: var(--important--text);
}

.work__info,
.work__intro {
  width: 50%;
}

.work__info__desc {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--important--text);
  width: 399px;
  display: flex;
  align-items: center;
}

.work__info__desc::before {
  font-size: 72px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -2px;
  color: var(--important--text);
  margin-right: 66px;
}

.work__info__service::before {
  content: "1";
}

.work__info__skills::before {
  content: "2";
}

.work__info__merchants::before {
  content: "3";
}

.work__horizontal-line {
  margin-top: 108px;
  border: 1px solid #f3d1bf;
}

/* Video reel section styles */

.video__reel__section {
  background-color: var(--main--bg);
  padding-top: 127px;
}

.video__reel__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.video__reel-img:first-child {
  position: relative;
}

.video__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video__reel-time {
  position: absolute;
  top: 324px;
  left: 24px;
}

.video__reel-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  color: var(--main--subtitle);
  text-transform: uppercase;
}

.video__reel-title {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: var(--important--text);
}

.video__reel-about {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--descryption--text);
  margin-top: 28px;
}

/* Features section styles */

.features__section {
  background-color: var(--main--bg);
  padding-top: 191px;
}

.features__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  color: var(--main--subtitle);
  text-transform: uppercase;
}

.features__title {
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  color: var(--important--text);
}

.features__about {
  margin-top: 26px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: var(--descryption--text);
}

.features__to-do__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 28px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.features__list{
  list-style: none;
}

.features__skills::before {
  content: url(./images/checkcircle.svg);
  margin-right: 16px;
}

/* More features section styles */

.more__features__section {
  background-color: var(--main--bg);
  padding-top: 202px;
}

.more__features__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 130px;
}

.more__features__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  color: var(--main--subtitle);
  text-transform: uppercase;
}

.more__features__desc {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: var(--important--text);
}

.more__features__link {
  display: block;
  margin-top: 28px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  columns: var(--important--text);
  text-decoration: none;
  transition: all 0.7s ease-in-out;
}

/*

.more__features__link:hover{
  margin-left: 100px;
  transition: all 1s ease-in-out;
  transform: scale(1.4);
  color: var(--main--subtitle);
}



.more__features__link:hover::after{
  content: "→";
}
*/

.more__features__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.professional__card {
  width: 336px;
  height: 336px;
  border-radius: 6px 6px 0px 6px;
  border: 1px 0px 0px 0px;
  background: #ffffff;
  border: 1px solid #f3d1bf;
  box-shadow: 0px 32px 64px 0px #3914000a;
  position: relative;
}

.card__img {
  position: absolute;
  top: 50px;
  left: 48px;
}

.card__item__image {
  position: absolute;
  top: 75px;
  left: 70px;
}

.card__title {
  margin-top: 160px;
  margin-left: 48px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--important--text);
}

.card__info {
  display: block;
  margin-top: 16px;
  margin-left: 48px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--descryption--text);
}

.accessibility__card {
  width: 336px;
  height: 272px;
  margin-top: 64px;
  border-radius: 0px 6px 6px 0px;
  border: 1px solid #f3d1bf;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.accessibility__card__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-top: 32px;
  margin-left: -64px;
  color: var(--important--text);
}

.accessibility__card__info {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin-left: -47px;
  margin-top: 36px;
  color: var(--descryption--text);
}

/* Services section styles */

.services__section {
  background-color: var(--main--bg);
  padding-top: 213px;
}

.services__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.services__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  color: var(--main--subtitle);
  text-transform: uppercase;
}

.services__title {
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  color: var(--important--text);
}

.services__desc {
  margin-top: 26px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: var(--important--text);
}

.services__comment {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.services__comment__info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 12px;
}

.services__slogan {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--descryption--text);
}

.servicves__comment__name {
  color: var(--important--text);
  line-height: 32px;
}

.services__btn {
  margin-top: 36px;
  background-color: var(--main--text);
  color: var(--important--text);
  font-size: 14px;
  font-weight: 900;
  line-height: 14.35px;
  box-shadow: 0px 3px 9px 0px #39140014;
}

@media (max-width: 571px) {
  .navbar__list,
  .navbar__btn,
  .hero__star {
    display: none;
  }

  .navbar__burger-btn {
    display: flex;
  }


  /* Media hero section */
  .hero__title {
    width: 330px;
  }



  .hero__title > br {
    display: none;
  }

  .hero__wrapper {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    gap: 30px;
  }


  .hero__title{
    font-size: 56px;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: -1px;
  }



  .hero__img{
    width: 100%;
  }


  .hero__comment{
    margin-top: 48px;
    margin-bottom: 32px;
  }


  .hero__buttons{
    display: flex;
    gap: 46px;
  }

  /* Sponsors section styles */


  .sponsors__section{
    padding-top: 47px;
  }


  .sponsors__wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    margin-top: 47px;
  }


  .last__child{
    display: block;
    margin-left: 60%;
  }

}
